@model EmployeeViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Code</h5>
        <p class="card-text">@Model.FirstName @Model.LastName - @Model.BirthDate.ToShortDateString()</p>
    </div>
</div>
